<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name || 'there' %>,</p>

    <p>We're excited to announce that we've integrated Stripe to make your payment experience smoother.</p>

    <p>You can now easily manage your subscriptions and payments directly through our platform.</p>

     <p>Visit the Project Studio to purchase credits and unlock advanced features like Sketch-to-3D transformation, the Landscaping Auto-Fixer, and our style presets.</p>
  </body>
</html>
