<div style="font-family: sans-serif; line-height: 1.5; color: #333;">
<p>Hi
<% if @user.name %>
  <%= @user.name.split.first %>
<% else %>
  there
<% end %>
,</p>
  <p>
    <% case @activity_type.to_s %>
    <% when 'mask' %>
      I noticed you brushed an area you want to modify in your yard.
    <% when 'sketch' %>
      I noticed you made a sketch to 3D transformation.
    <% when 'text' %>
      I noticed you struggled to make prompt edits for your designs.
    <% else %>
      I noticed you signed up but haven't started a design yet.
    <% end %>
  </p>

  <p>I wanted to reach out and see how your experience has been so far.</p>

  <p>Are you finding inspiration or doing professional editing? Is there any way we can help?</p>

  <p>Did the free credits help you try out all the tools?</p>

  <p>I would love to make sure you get the most out of the tool.</p>

  <p>I read all replies and I'm looking forward to yours.</p>
</div>
