<!-- Credits Banner -->

<div
  class="
    flex w-full bg-gradient-to-r from-gray-50 to-gray-100 my-8 rounded-lg
    shadow-md p-4 flex items-center justify-between mt-4 border
    border-gray-200 transition-all duration-300 hover:shadow-lg
  "
>
  <%= link_to credits_path, class: "flex items-center w-full no-underline text-inherit" do %>
    <div class="flex items-center gap-2">
      <!-- Credit Card Icon -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-gray-500"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M21 4H3a2 2 0 00-2 2v12a2 2 0 002 2h18a2 2 0 002-2V6a2 2 0 00-2-2zM3 8h18V6H3v2zm18 10H3v-6h18v6z"
        />
      </svg>
      <span class="text-sm font-medium text-gray-700">Your Credits</span>
    </div>
    <div class="flex items-center gap-4 text-xs font-semibold text-gray-500 ml-auto">
      <div class="flex items-center gap-1">
        <p>Pro Trial:</p>
        <span class="text-accent"><%= current_user.pro_trial_credits %></span>
      </div>
      <div class="flex items-center gap-1">
        <p>Pro Engine:</p>
        <span class="text-secondary"><%= current_user.pro_engine_credits %></span>
      </div>
    </div>
  <% end %>
</div>
