<div id="flash" data-controller="flash" class="flex m-auto mt-4 justify-center">
  <% flash.each do |type, message| %>
    <div class="flash-message <%= type %> flex p-2 rounded-md">
      <%= message %>
    </div>
  <% end %>
</div>
