    <%# Instructions Section (Remains on edit page) %>
    <div class="justify-center items-center  bg-base-100 shadow-xl image-full my-8 p-6 rounded-lg border-dashed border-2 border-gray-300 w-full">
      <h2 class="text-2xl font-semibold text-text-secondary"><%= t("landscape.instructions.title") %> </h2>
      <ol class="list-decimal list-inside my-6 text-sm leading-relaxed">
        <% t("landscape.instructions.steps").each do |step| %>
          <li><%= step %></li>
        <% end %>
      </ol>
    </div>
