<div class="min-h-screen bg-neutral-100  items-center justify-center container mx-auto">
  <%= render '/shared/balances' %>
  <%= content_tag :h4, "Explore your generations", loading: :lazy, class: "py-4 text-accent block w-full text-center text-fancy text-2xl"%>
  <div class="flex flex-wrap items-center justify-center mx-auto">
    <%= render @landscapes %>
  </div>
</div>
