<div class="masonry-item w-full sm:w-1/2 md:w-1/3 lg:w-1/5 p-0 mb-0">
  <div
    class="
      overflow-hidden cursor-pointer
      transition-all duration-300 ease-in-out
      hover:scale-[1.05] hover:z-10 relative group
    "
  >
    <%= image_tag url_for(text_request.result_image.variant(resize_to_limit: [400, 400])),
                    loading: :lazy,
                    alt: text_request.prompt.truncate(100),
                    title: text_request.prompt.truncate(20),
                    class: "w-full h-auto" %>
    <h4
      class="
        flex w-fit items-center absolute top-3 right-3
        bg-<%= ['cta-bg', 'accent', 'secondary'].sample %> text-white text-sm font-bold px-3 py-1
        rounded-full opacity-90 transition duration-300
        group-hover:opacity-100 ring-1 ring-black/30
      "
    >
      <%= "#{text_request.generation_taggings.first.tag.title} Ideas" %>
    </h4>

    <div
      class="
        absolute bottom-4 left-1/2 -translate-x-1/2 opacity-0
        group-hover:opacity-100 transition-opacity duration-300
        w-8/12
      "
    >
      <%= render ButtonComponent.new(
                    text: "Login & view",
                    href: text_request_path(text_request),
                    classes: "bg-black/50 hover:bg-black/80 backdrop-blur-md text-white text-[10px] font-bold py-1 px-3 rounded-full transition-all duration-300"
                  ) %>
    </div>
  </div>
</div>
