<div class="flex flex-col items-center justify-center min-h-screen w-full">

  <h1 class="text-3xl font-bold text-center my-6 text-primary">Convert and extract images</h1>


        <%= render ButtonComponent.new(
        text: "Extract text from image",
      href: images_path("text", "text"),
      classes: "card bg-base-100 w-auto max-w-[300px] shadow-xl p-4 rounded bg-#{ ['primary', 'secondary', 'accent'].sample} } text-base flex text-white opacity-80 hover:opacity-100 text-center my-8"
      ) %>



  <div class="grid grid-cols-3 md:grid-cols-5 lg:grid-cols-8 gap-4 flex-wrap mx-auto ">
      <!--# we shall pair each image with the various conversions we can run on it-->
  <% IMAGE_FORMATS.keys.each do |source| %>
   <% IMAGE_FORMATS.keys.each do |conversion| %>
    <% next if source == conversion %>
      <%= render ButtonComponent.new(
        text: "#{source.upcase} to #{conversion.upcase}",
      href: "images/#{source.downcase}/#{conversion.downcase}",
      classes: "card bg-base-100 w-auto shadow-xl p-4 rounded bg-#{ ['primary', 'secondary', 'accent'].sample} } text-base flex text-white opacity-80 hover:opacity-100 text-center"
      ) %>
    <% end %>
    <br>
  <% end %>
  </div>


</div>
