<div id="canvas_wrapper" data-unified-dashboard-target="canvasWrapper"
     class="<%= hidden ? 'hidden' : '' %>"
     data-controller="konva-canvas"
     data-konva-canvas-image-url-value="<%= initial_layer&.image&.url %>"
     data-konva-canvas-display-width-value="800"
     data-konva-canvas-display-height-value="600"
     data-konva-canvas-brush-size-value="40">
   <div data-konva-canvas-target="canvasContainer"></div>
</div>
