<div
  class="grid gap-8 p-4 bg-white rounded-xl shadow-lg border border-gray-200"
  data-controller="turbo-method"
>
  <h4 class="text-xl font-bold text-neutral-800 border-b pb-3 mb-0">
    Admin Management
  </h4>

  <div class="space-y-4">
      <%# VISIBILITY TOGGLE %>
      <div>
        <% if text_request.everyone? %>
          <%= button_to "Hide from public (Current: EXPLORE)",
            admin_text_requests_toggle_display_path(id: text_request.id), data: {turbo: false},
            class: "w-full cute-btn secondary-btn bg-red-500 hover:bg-red-600" %>
        <% elsif text_request.user.admin? || text_request.trial_generation? %>
          <%= button_to "List on Explore (Current: PRIVATE)",
            admin_text_requests_toggle_display_path(id: text_request.id), data: {turbo: false},
            class: "w-full cute-btn primary-btn bg-green-500 hover:bg-green-600" %>
        <% end %>
      </div>
  </div>
</div>
