<%# app/views/admin/text_requests/index.html.erb %>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-12">
  <div class="grid gap-6
    grid-cols-1
    sm:grid-cols-2
    md:grid-cols-3
    lg:grid-cols-4
  ">

    <%# Use Rails' convention for rendering a collection %>
    <%= render @text_requests %>

  </div>
</div>

<%= turbo_frame_tag "modal" %>
