<p>Hello <%= @resource.email %>!</p>

<p>Francis from Hadaa AI here. </p>

<p>We are emailing you because you requested a password reset. If this was not you, please ignore this email.</p>

<p> You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>As always, feel free to reach out to me if you have any issues.</p>


<p>Best, </p>

<p>Francis</p>
