<%# app/views/shared/_dynamic_iframe_content.html.erb %>

<%# This partial expects a local variable `html_snippet` %>
<h2 style="color: #3f51b5;margin:auto;text-align: center;font-size: 1rem;">
  *** Results for Image
  <em style="color: #f047a4;">`<%= file_name %>`</em>
  Starts Here ***
  </h2>
<%= html_snippet.html_safe %>

<%#
  If you have JavaScript specific to this `html_snippet`
  you can put it here using content_for blocks,
  which will then be yielded in the iframe_content.html.erb layout.
%>
<% content_for :iframe_body_js do %>
  <script>
    // JavaScript specific to this embedded content
    // Example: document.getElementById('myButton').addEventListener(...);
    console.log("Script for this specific iframe content loaded!");
  </script>
<% end %>
