<% content_for :title, "Showing mask request" %>

<div
  class="
    max-w-[1200px] space-y-12 flex flex-col justify-center items-center
    mx-auto px-3 sm:px-6 lg:px-8 py-8 md:py-12
  "
>
  <%= render @mask_request %>
  <%= render 'mask_requests/gallery_modal' %>
</div>
