<% content_for :title, "Showing mask request" %>
<div class="md:w-11/12 w-full mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-8 md:py-12 space-y-12">
    <%= render 'shared/balances' %>
    <%= render @mask_request %>
  </div>
</div>
