<% content_for :title, "Your Garden Design | AI Landscape Results - Hadaa" %>
<% content_for :description, "View your AI-generated garden design results. See photorealistic transformations, plant recommendations, shopping lists, and use the AI Editor to further refine your landscape design." %>

<%= turbo_stream_from @mask_request.canva %>
<% if @trigger_pql_event %>
  <script>
    gtag('event', 'pql_mask_request', {
      'event_category': 'engagement',
      'event_label': 'first_mask_request'
    });
  </script>
<% end %>


<div
  class="
    max-w-[1200px] space-y-12 flex flex-col justify-center items-center
    mx-auto px-3 sm:px-6 lg:px-8 py-8 md:py-12
  "
>
  <%= render @mask_request %>
  <%= render 'mask_requests/gallery_modal' %>
</div>
