<% content_for :title, "AI Landscapes Dashboard" %>

<%= content_for :main_classes, "" %>

<%= turbo_stream_from "#{current_user.id}_text_requests" %>

<div class="h-[88vh] flex flex-col md:flex-row bg-gray-900 text-text-light">
  <div
    class="
      w-full max-w-[1000px] mx-auto flex flex-col md:flex-row max-md:py-10
      bg-gray-900
    "
  >
    <main
      class="
        w-full flex-shrink-0 flex flex-col items-center justify-start p-4
        md:p-8 md:pb-12 bg-neutral-800 lg:flex-1 md:overflow-y-auto
      "
    >
      <div id="current_text_request" class="w-full max-w-[700px] flex flex-col">
        <%= render 'text_requests/form', text_request: @current_request %>
      </div>
    </main>
    <%= render 'history' %>
  </div>
</div>
