    <%# Instructions Section (Remains on edit page) %>
    <div class="flex items-start my-2 container ">
      <h2> <span class="text-lg font-semibold text-text-secondary">The only guide you need: </span><span class=""> Draw on all the areas you want to change.Our AI only modifies the areas you brush on or select. Use the 'local plants' option to design with plants available in your area for easy shopping.</span></h2>
    </div>
