<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <div><br></div>
    <div><br></div>
    <div class="zmail_signature_below">
      <div
        id="Zm-_Id_-Sgn"
        data-zbluepencil-ignore="true"
        data-sigid="946451000000010002"
      >
        <div>
          Best,
          <br>
        </div>

        <div><br></div>

        <div>
          Francis
          <br>
        </div>

        <div><br></div>

        <div>
          <div><br></div>

          <table
            style="font-size:10pt; font-family:Verdana, Arial, Helvetica, sans-serif; border-collapse:collapse; border:none"
            cellspacing="2"
            cellpadding="2"
          >
            <tbody>
              <tr>
                <td style="border:none; vertical-align:top; width:147.812px">
                  <div>
                    <div>
                      <img
                        width="100%"
                        style=""
                        alt="logo"
                        src="<%= image_url('hadaa.png') %>"
                      >
                      <br>
                    </div>
                    <div><br></div>
                  </div>
                </td>
                <td style="border:none; vertical-align:top; width:398.188px">
                  <div><br></div>

                  <div><b>Francis Karuri,</b><br></div>

                  <div><br></div>

                  <div>
                    Chief Marketing Officer,
                    <br>
                  </div>

                  <div><br></div>

                  <div>
                    Hadaa
                    <b></b>
                    <br>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div><br></div>
        </div>

        <div><br></div>
      </div>
    </div>
  </body>
</html>
